
<div id="doc" class="" ng-controller="HomeController">
        <div class="StreamsTopBar-container StreamsTopBar-container--withStreamHero StreamsTopBar-container--withTallHeader">
  <div class="StreamsTopBar StreamsTopBar--fixed js-variableHeightTopBar">
    <div class="StreamsHero">
      <div class="StreamsHero-image" style="background-image: url(https://abs.twimg.com/a/1457566999/img/t1/lohp_streams_header_bg_v4.png);"></div>
      <div class="StreamsHero-buttonContainer">
        <a href='/' class="js-nav" data-component="hero" data-element="logo">
        <span class="Icon">
         <div class="parent">
      <img id="bird" src="/images/twitterbir.png" />
      </div>
      </span><span class="visuallyhidden">Home</span></a>
        <input type="submit" class="Button StreamsSignUp js-nav js-signup" ng-click="submit();" value="Sign up"/>
        <a href="#loginmodal" class="dropdown-toggle js-dropdown-toggle dropdown-signin" id="modaltrigger" data-nav="login" role="button" aria-haspopup="true">
        <button class="Button StreamsLogin js-login" type="submit">Log In</button>
        </a>
      </div>
      <div class="StreamsHero-content">
        <h2 class="StreamsHero-header">See what’s happening right now.</h2>
          <p class="StreamsHero-blurb">Find community, conversation and inspiration about the things you love.</p>
      </div>
    </div>
  <div class="StreamsTopBar-innerContainer">
      <div class="StreamsCategoryBar">
  <div class="StreamsCategoryBar-item ItemSearch">
    <div class="StreamsCategoryBar-itemInner">
      <a class="StreamsCategoryBar-itemName">
        <span class="Icon Icon--search"></span>
        <span class="visuallyhidden">Search</span>
      </a>
    </div>
  </div>

      <div class="StreamsCategoryBar-item StreamsCategoryBar-item--selected">
      <div class="StreamsCategoryBar-itemInner">
        <a class="StreamsCategoryBar-itemName u-linkClean js-nav" href="/" data-nav="home">Featured</a>
      </div>
    </div>
     <div class="StreamsCategoryBar-item">
      <div class="StreamsCategoryBar-itemInner">
        <a class="StreamsCategoryBar-itemName u-linkClean js-nav" href="/i/streams/category/686639666771046402" data-nav="686639666771046402">Sports</a>
      </div>
    </div>
    <div class="StreamsCategoryBar-item">
      <div class="StreamsCategoryBar-itemInner">
        <a class="StreamsCategoryBar-itemName u-linkClean js-nav" href="/i/streams/category/686639666779394057" data-nav="686639666779394057">News</a>
      </div>
    </div>
        <div class="StreamsCategoryBar-item">
      <div class="StreamsCategoryBar-itemInner">
        <a class="StreamsCategoryBar-itemName u-linkClean js-nav" href="/i/streams/category/686639666779426835" data-nav="686639666779426835">Music</a>
      </div>
    </div>
     <div class="StreamsCategoryBar-item">
      <div class="StreamsCategoryBar-itemInner">
        <a class="StreamsCategoryBar-itemName u-linkClean js-nav" href="/i/streams/category/686639666779394055" data-nav="686639666779394055">Entertainment</a>
      </div>
    </div>
     <div class="StreamsCategoryBar-item">
      <div class="StreamsCategoryBar-itemInner">
        <a class="StreamsCategoryBar-itemName u-linkClean js-nav" href="/i/streams/category/686639666779426842" data-nav="686639666779426842">Lifestyle</a>
      </div>
    </div>

   <div class="dropdown">
    <div class="StreamsCategoryBar-item">
      <div class="StreamsCategoryBar-itemInner">
        <span class="StreamsCategoryBar-itemName js-dropdown-toggle">More <span class="StreamsCategoryBar-moreIcon Icon Icon--caretDown"></span></span>
      </div>
    </div>
    <div class="dropdown-menu">
        <a class="StreamsCategoryBar-itemName StreamsCategoryBar-itemName--reduced u-linkClean js-nav" href="/i/streams/category/686639666779394060" data-nav="686639666779394060">Technology &amp; Science</a>
        <a class="StreamsCategoryBar-itemName StreamsCategoryBar-itemName--reduced u-linkClean js-nav" href="/i/streams/category/686639666779426845" data-nav="686639666779426845">Arts &amp; Culture</a>
        <a class="StreamsCategoryBar-itemName StreamsCategoryBar-itemName--reduced u-linkClean js-nav" href="/i/streams/category/686639666779394072" data-nav="686639666779394072">Government &amp; Politics</a>
        <a class="StreamsCategoryBar-itemName StreamsCategoryBar-itemName--reduced u-linkClean js-nav" href="/i/streams/category/690675490684678145" data-nav="690675490684678145">Gaming</a>
        <a class="StreamsCategoryBar-itemName StreamsCategoryBar-itemName--reduced u-linkClean js-nav" href="/i/streams/category/692079932940259328" data-nav="692079932940259328">Nonprofits</a>
    </div>
  </div>
</div>

      <div class="StreamsTopBar-searchContainer u-hidden StreamsTopBar--invisible StreamsTopBar-searchContainer--wide" role="search">
  <form class="form-search js-search-form" action="/search" id="global-nav-search">
    <div class="u-posRelative">
      <button type="submit" class="Icon Icon--search StreamsTopBar-searchButton">
        <span class="visuallyhidden">Search Twitter</span>
      </button>
      <label class="visuallyhidden" for="search-query">Search query</label>
      <input class="StreamsTopBar-searchInput" type="text" id="search-query" placeholder="Search for stuff like #YouSaidILoveYouISaid or #DangerousWomanTonight" name="q" autocomplete="off" spellcheck="false">
    </div>
    
    <div role="listbox" class="dropdown-menu typeahead">
  <div aria-hidden="true" class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <div role="presentation" class="dropdown-inner js-typeahead-results">
    <div role="presentation" class="typeahead-saved-searches">
  <h3 id="saved-searches-heading" class="typeahead-category-title saved-searches-title">Saved searches</h3>
  <ul role="presentation" class="typeahead-items saved-searches-list">
    
    <li role="presentation" class="typeahead-item typeahead-saved-search-item">
      <span class="Icon Icon--close" aria-hidden="true"><span class="visuallyhidden">Remove</span></span>
      <a role="option" aria-describedby="saved-searches-heading" class="js-nav" href="" data-search-query="" data-query-source="" data-ds="saved_search" tabindex="-1"></a>
    </li>
  </ul>
</div>

    <ul role="presentation" class="typeahead-items typeahead-topics">
  
  <li role="presentation" class="typeahead-item typeahead-topic-item">
    <a role="option" class="js-nav" href="" data-search-query="" data-query-source="typeahead_click" data-ds="topics" tabindex="-1"></a>
  </li>
</ul>
    


<ul role="presentation" class="typeahead-items typeahead-accounts js-typeahead-accounts">
  
  <li role="presentation" data-user-id="" data-user-screenname="" data-remote="true" data-score="" class="typeahead-item typeahead-account-item js-selectable">
    
    <a role="option" class="js-nav" data-query-source="typeahead_click" data-search-query="" data-ds="account">
      <img class="avatar size32" alt="">
      <span class="typeahead-user-item-info">
        <span class="fullname"></span>
        <span class="js-verified hidden"><span class="Icon Icon--verified Icon--small">
  <span class="u-hiddenVisually">Verified account</span>
</span></span>
        <span class="username"><s>@</s><b></b></span>
      </span>
    </a>
  </li>
  <li role="presentation" class="js-selectable typeahead-accounts-shortcut js-shortcut"><a role="option" class="js-nav" href="" data-search-query="" data-query-source="typeahead_click" data-shortcut="true" data-ds="account_search"></a></li>
</ul>

    <ul role="presentation" class="typeahead-items typeahead-trend-locations-list">
  
  <li role="presentation" class="typeahead-item typeahead-trend-locations-item"><a role="option" class="js-nav" href="" data-ds="trend_location" data-search-query="" tabindex="-1"></a></li>
</ul>
    <div role="presentation" class="typeahead-user-select">
  <div role="presentation" class="typeahead-empty-suggestions">
    Suggested users
  </div>
  <ul role="presentation" class="typeahead-items typeahead-selected js-typeahead-selected">
    
    <li role="presentation" data-user-id="" data-user-screenname="" data-remote="true" data-score="" class="typeahead-item typeahead-selected-item js-selectable">
      
      <a role="option" class="js-nav" data-query-source="typeahead_click" data-search-query="" data-ds="account">
        <img class="avatar size32" alt="">
        <span class="typeahead-user-item-info">
          <span class="select-status deselect-user js-deselect-user Icon Icon--check"></span>
          <span class="select-status select-disabled Icon Icon--unfollow"></span>
          <span class="fullname"></span>
          <span class="js-verified hidden"><span class="Icon Icon--verified Icon--small">
  <span class="u-hiddenVisually">Verified account</span>
</span></span>
          <span class="username"><s>@</s><b></b></span>
        </span>
      </a>
    </li>
    <li role="presentation" class="typeahead-selected-end"></li>
  </ul>

  <ul role="presentation" class="typeahead-items typeahead-accounts js-typeahead-accounts">
    
    <li role="presentation" data-user-id="" data-user-screenname="" data-remote="true" data-score="" class="typeahead-item typeahead-account-item js-selectable">
      
      <a role="option" class="js-nav" data-query-source="typeahead_click" data-search-query="" data-ds="account">
        <img class="avatar size32" alt="">
        <span class="typeahead-user-item-info">
          <span class="select-status deselect-user js-deselect-user Icon Icon--check"></span>
          <span class="select-status select-disabled Icon Icon--unfollow"></span>
          <span class="fullname"></span>
          <span class="js-verified hidden"><span class="Icon Icon--verified Icon--small">
  <span class="u-hiddenVisually">Verified account</span>
</span></span>
          <span class="username"><s>@</s><b></b></span>
        </span>
      </a>
    </li>
    <li role="presentation" class="typeahead-accounts-end"></li>
  </ul>
</div>

    <div role="presentation" class="typeahead-dm-conversations">
  <ul role="presentation" class="typeahead-items typeahead-dm-conversation-items">
    <li role="presentation" class="typeahead-item typeahead-dm-conversation-item">
      <a role="option" tabindex="-1"></a>
    </li>
  </ul>
</div>
  </div>
</div>

  </form>
  </div>
  </div>
  </div>
  </div>
  <div id="loginmodal" class="LoginDialog modal-container u-textCenter" style="z-index: 4002; display: block;">

<div class="close-modal-background-target"></div>
<!--      <div class="LoginDialog-content modal-content" role="document"> -->
    <div class="modal-header">
    <h1 class="modal-title" id="login-dialog-header">Twitter Login</h1>
    </div> 
          <div class="LoginDialog-body modal-body">
        <div class="LoginDialog-bird">
          <span class="Icon Icon--bird Icon--large"></span>
        </div>
    <form class="LoginForm js-front-signin" id="loginform" name="loginform" method="post" action="/home" data-component="dialog" data-element="login">
     <div class="LoginForm-input LoginForm-username">
    <input type="text" class="text-input email-input js-signin-email" name="session[username_or_email]" autocomplete="username" placeholder="Phone, email or username">
  </div>
 <div class="LoginForm-input LoginForm-password">
    <input type="password" class="text-input" name="session[password]" placeholder="Password" autocomplete="current-password">
  </div>
      
  <div class="LoginForm-rememberForgot">
    <label>
      <input type="checkbox" value="1" name="remember_me" checked="checked">
      <span>Remember me</span>
    </label>
    <span class="separator">·</span>
    <a class="forgot" href="/account/begin_password_reset">Forgot password?</a>
  </div>

  <input type="submit" class="submit btn primary-btn js-submit" value="Log in">

</form>
</div>

<!--  -->
</div>

  
  </div>
